<ion-tabs color="primary">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="film"></ion-icon>
      <ion-label>Films</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="person"></ion-icon>
      <ion-label>Admins</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
