<ion-header>
  <ion-toolbar>
      <ion-button (click)="back()">BACK</ion-button>
    <ion-title>adminDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Judul</ion-label>
    <ion-input type="text" [(ngModel)]="data.judul"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Images</ion-label>
    <ion-input type="text" [(ngModel)]="data.images"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Durasi</ion-label>
    <ion-input type="number" [(ngModel)]="data.durasi"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Tahun</ion-label>
    <ion-input type="number" [(ngModel)]="data.tahun"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Sutradara</ion-label>
    <ion-input type="text" [(ngModel)]="data.sutradara"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="updateFilm()">Submit</ion-button>
</ion-content>
