<ion-header>
  <ion-toolbar>
    <ion-title>
      Film Lists
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label color="primary" position="floating">ID</ion-label>
    <ion-input [(ngModel)]="admin1.username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" position="floating">Password</ion-label>
    <ion-input [(ngModel)]="admin1.password" type="password" placeholder="Password"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="login()">Log In</ion-button>
</ion-content>
