<ion-header color="primary">
  <ion-toolbar>
    <ion-button (click)="loadFilm()" color="secondary">Refresh</ion-button>
    <ion-title>Film Lists</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let films of filmList" (click)="goDetail(films.id)">
    <ion-slides pager>
      <ion-slide>
        <img src={{films.images}}>
      </ion-slide>
    </ion-slides>
    <ion-card-content>
      <ion-card-title> {{films.judul}} </ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-content>