<ion-header>
  <ion-toolbar>
    <ion-title>admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="goAddFilm()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item *ngFor="let data of filmList">
      <ion-label>{{data.judul}}</ion-label>
      <ion-button fill="clear" slot="end" (click)="goDetails(data)">Edit</ion-button>
      <ion-button fill="clear" slot="end" (click)="deleteFilm(data.id)">Delete</ion-button>
    </ion-item>
  </ion-list>

  <ion-content padding>
    <ion-button expand="block" (click)="logout()">Logout</ion-button>
  </ion-content>
</ion-content>

