<ion-header>
  <ion-toolbar>
    <ion-button (click)="back()">BACK</ion-button>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let films of filmDetail">
    <ion-slides pager>
      <ion-slide>
        <img src={{films.images}}>
      </ion-slide>
    </ion-slides>
    <ion-card-content>
      <ion-card-title> {{films.judul}} </ion-card-title>
    </ion-card-content>
    <ion-card-content>
      <p>Duration: {{films.durasi}} Minutes</p>
      <p>Release Years: {{films.tahun}}</p>
      <p>Director: {{films.sutradara}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>